- provide(:title, 'Users')
- model_class = User
%h1
  All users (
  = @users.count
  )
= will_paginate
%table.table.table-striped
  %thead
    %tr
      %th
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:state)
      %th=t '.actions', :default => t("helpers.actions")
      
  %tbody
    = render @users
      
= will_paginate

= link_to t('.new', :default => t("helpers.links.new")), new_user_path, :class => 'btn btn-primary'
